

  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
  }

  .card-text-limited {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: '...';
      line-height: 1.5rem;
      height: 9.1rem;
    }

    .navbar-brand:hover {
      filter: brightness(85%);
    }

    .isDisabled {
      color: currentColor;
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: none;
    }